<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>favoriteSong</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
<div class="max-w-md bg-white shadow-md p-8 rounded-md">
    <h1 class="text-2xl font-semibold mb-4">인증코드 안내</h1>
    <p class="mb-6">회원님의 인증코드 <span class="font-bold">[[${checkCode}]]</span>입니다.</p>
    <p class="text-gray-600">해당 인증코드를 앱에 입력해주세요.</p>
</div>
</body>
</html>