<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>favoriteSong</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100 h-screen flex items-center justify-center">
<div class="max-w-md bg-white shadow-md p-8 rounded-md">
    <h1 class="text-2xl font-semibold mb-4">임시비밀번호 안내</h1>
    <p class="mb-6">회원님의 임시비밀번호 <span class="font-bold">[[${tempPassword}]]</span>입니다.</p>
    <p class="text-gray-600">변경된 패스워드로 로그인해주세요</p>
</div>
</body>
</html>